body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }
    
    .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    }
    
    
    .headercontainer{
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #0e3561;
    
    }
    .websitetitle{
    width: 289px;
    padding: 18px;
    height: 100%;
    font-family:  Roboto;
    font-weight: 700;
    font-size: 20px;
    box-sizing: border-box;
    color: white;
    background-color: none;
    text-align: center;
    }
    .bodycontainer{
    width: 100%;
    overflow: hidden;
    background-color: #D9D9D9;
    }
    .navcontainer{
    float: left;
    width: 200px;
    height: 700px;
    color: #fff;
    background-color: #0e3561;
    }
    .dashboard {
    box-sizing: border-box;
    width: 162px;
    height: 28px; /* Adjust the height as needed */
    margin: 0;
    font-family:  Roboto;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    background-color:#0e3561;
    text-align: center;
    color: white;
    border: transparent;
    }
    .navbuttons {
    
    height: calc(100% - 30px);
    background-color: #0e3561;
    overflow-y: auto; 
    }
    input[value="HOME"] {
    margin-top: 30px !important;
    margin-left: 41px !important;
    }
    input[value="REPORT"] {
    margin-top: 30px !important;
    margin-left: 41px !important;
    }
    input[value="PROFILE"] {
    margin-top: 30px !important;
    margin-left: 41px !important;
    }
    input[value="Chat"] {
    margin-top: 30px !important;
    margin-left: 41px !important;
    }
    input[value="ABOUT US"] {
    margin-top: 30px !important;
    margin-left: 41px !important;
    }
    input[value="TRACKING"] {
    margin-top: 30px !important;
    margin-left: 41px !important;
    }
    input[value="MANAGE ITEMS"] {
    margin-top: 30px !important;
    margin-left: 41px !important;
    }
    input[value="MANAGE ITEMS2"] {
    margin-top: 30px !important;
    margin-left: 41px !important;
    }
    input[value="LOG OUT"] {
    margin-top: 280px !important;
    margin-left: 41px !important;
    }
    
    .navbuttons input[type="submit"] {
    
    background-color: white;
    width: 50%;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    color: black;
    
    }
    .categoriescontainer{
    float: left;
    width: 900px;
    height: 50px;
    margin-left: 200px;
    margin-top: 20px;
    padding: 5px;
    color: #fff;
    background-color: #D9D9D9;
    
    }
    .categoriescontainer form {
    display: inline-block;
    margin: 0;
    padding: 0;
    }
    
    .categoriescontainer input[type="submit"] {
    background-color: white;
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 20px;
    color: black;
    }
    .maincontainer{         
    float: left;
    width: 900px;
    margin-left: 200px;
    margin-top: 0px;
    padding: 5px;
    background-color: #fff;
    color: #fff;
    }
    .searchBox {
    width: 900px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 410px;
    margin: 5px;
    border: 1px solid blue;
    border-radius: 60px;
    background-color: white;
    }
    .search-input{
    width: 650px;
    height: 30px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    outline: none;
    border: none;
    }   
    #searchResults {
    width: 400px;
    height: 300px;
    position: absolute;
    background-color: transparent; /* Set the initial background to transparent */
    display: none; /* Hide the results container initially */
    top: 80px;
    left: 440px;
    }
    #searchResults.hasResults {
        width: 400px;
        min-height: 400px; /* Set a minimum height */
        max-height: 800px; /* Optionally set a maximum height to prevent the container from becoming too large */
        overflow: auto; /* Add a scrollbar if content overflows */
        position: absolute;
        background-color: #D9D9D9; /* Set the initial background to transparent */
        display: none; /* Hide the results container initially */
        top: 80px;
        left: 440px;
        }
    #searchResults a {
    display: block;
    width: 150px; /* Set the width if needed */
    margin: 10px; /* Add margin for spacing */
    padding: 5px;
    text-decoration: none;
    color: blue;
    font-size: 16px;
    }
    .fill-text{
    width: 100%;
    box-sizing: border-box;
    color: red;
    }
    .found-items_pictures img {
    max-width: 80%;
    height: 70%;
    border-radius: 10px;
    margin-right: 15px;
    }
    .container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;  Adjust as needed */
    align-items: flex-start; /* Images will align to the top of each column */
    width: 100%;
    background-color: #fff;
    padding: 0px;
    }
    .found-items_pictures {
    flex: 0 0 calc(27%); /* Adjust the width and margin as needed */
    height: 220px;
    padding: 15px;
    color: white;
    margin: 10px;
    border-radius: 10px;
    background-color: #0e3561;
    border: 1px solid black;   
    }
    .found-items_pictures:hover {
        transform: scale(1.1); /* Increase the scale on hover */
        }
    
    .found-items_pictures p1 {
        flex: 1; /* Adjust the width and margin as needed */
        height: 15px;
        padding: 5px;
        color: black;
        margin-top: 0px;
        margin-left: 150px;
        border-radius: 10px;
        background-color: rgb(127, 241, 127);
        }
    
    input[type="submit"]:hover {
        background-color: #0056b3;
    }    
    /* css for chat box messaging part */
    .chatarea {
        width: 500px;
        height: 500px;
        border: 1px solid #ccc;
        border-radius: 5px;
        }
    .messagetitle{
        text-align: center;
        font-size: 30px;
        width: 500px;
        height: 50px;
        background-color: #0056b3 ;
    }
    .chatbox {
        display: flex;
        flex-direction: row; /* Add this line to arrange child elements vertically */
        width: 500px;
        height: 450px;
        background-color: none;
    }
    #userlist{
    /* float: left; */
    width: 200px;
    height: 450px;
    border: 1px solid black;
    }
    #messagebody{
    /* float: left; */
    width: 500px;
    height: 450px;
    border: 1px solid black;
    
    
    }
    
    #chat-box {
    float: left;
    width: 300px;
    height: 250px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    }
    #userDisplay {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    color: black;
    background-color: white;
    
    }
    #messageDisplay {
        width: 100%;
        height: 400px;
        overflow-y: scroll;
        color: black;
        background-color: white;
        
        }
    
    #message-input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    }
    #send-button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    }
    .found-users{
        color: #0056b3;
        width: 100%;
        height: 40px;
        background-color: #D9D9D9;
    }
    .found-users p{
        margin-top: 5px;
        padding: 10px;
        padding-left: 15px;
        color: brown;
    }
    #conversationtitle{
        color: black;
        height: 30px;
        text-align: center;
        font-weight: 800;
        background-color: #D9D9D9;
    }
    .found-messages {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 5px 0;
        border-radius: 5px;
        background-color: #007BFF;
    }
    .current-user-message {
        align-self: flex-end;
        margin-left: 250px;
        width: 200px;
        background-color: #DCF8C6;
        color: #000000;
    }
    .other-user-message {
        width: 200px;
        align-self: flex-start;
        margin-left: 5px;
        background-color: #FFFFFF;
        color: #000000;
    }